.mainText {
  color: black;
  font-family: Copperplate;
  font-size: 35px;
}

.boxIcon {
  width: 60px;
}
.container {
  display: flexbox;
}

svg {
  position: absolute;
  margin-left: -150px;
  bottom: 0px;
  left: 50%;
}

/* outline for old new vassar image  */
.outline {
  stroke: white;
  stroke-width: 20px;
  stroke-dashoffset: -2000;
  stroke-dasharray: 2000;
  animation-name: outline;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes outline {
  0% {
    stroke-dashoffset: -2000;
    stroke: white;
  }
  30% {
    stroke: white;
  }
  50% {
    stroke: white;
  }
  70% {
    stroke: white;
  }
  100% {
    stroke-dashoffset: 0;
    stroke: white;
  }
}

.nvOutline {
  width: 100%;
  height: auto;
  position: fixed;
  bottom: 0px;
  z-index: 1;
}
