.title {
  color: black;
  font-family: Copperplate;
  font-size: 40px;
}

.bottomPadding {
  padding-bottom: 50px;
}

/* code for old background image - don't delete  */

/* .bgImage {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

.bgImage svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
} */
