.information {
  /* font-family: "Arial";
    color: white;
    text-align: center;
    font-size: 20;
    background-color: rgb(0, 0, 0); 
    background-color: rgba(0, 0, 0, 0); Black w/opacity/see-through */
  /* color: black;
    font-weight: bold; */
  /* border: 5px solid #f1f1f1;
    border-radius: 20px; */
  /* position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center; */
  width: 600px;
  height: auto;
  padding: 20px 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 #000;
  margin: auto;
  position: relative;
  text-align: center;
  margin-top: 100px;
  animation: mainLogo 1s ease-out;
  overflow: hidden;
  position: relative;
  z-index: 2;
}
